<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Организационная структура</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#1054;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1086;&#1085;&#1085;&#1072;&#1103; &#1089;&#1090;&#1088;&#1091;&#1082;&#1090;&#1091;&#1088;&#1072;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-organization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_organization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/a510df6c-fce0-45dd-9029-d5ae7adc2ca7.png" alt="Организационная структура" usemap="#a510df6c-fce0-45dd-9029-d5ae7adc2ca7map"/>
			   <map name="a510df6c-fce0-45dd-9029-d5ae7adc2ca7map">
				  		<area shape="rect" coords="10,262,203,299" href="../elements/db301ae2-1980-4d1b-9feb-65e59b783be7.html"  target="element">
				  		<area shape="rect" coords="72,466,205,505" href="../elements/7b05a5b3-dbba-4b8f-b2a5-fd88a5c5c658.html"  target="element">
				  		<area shape="rect" coords="72,406,203,443" href="../elements/c6cc0d49-bab7-44ec-b64d-f90d2aa0a4a0.html"  target="element">
				  		<area shape="rect" coords="72,334,203,371" href="../elements/6a69cb90-b3dc-420d-984d-2679e62cc1a7.html"  target="element">
				  		<area shape="rect" coords="25,229,205,254" href="../elements/c456d9cb-ac14-406f-a56f-6991e353975f.html"  target="element">
				  		<area shape="rect" coords="79,130,199,185" href="../elements/632e5c7e-295d-4191-a786-cdf9805c5d17.html"  target="element">
				  		<area shape="rect" coords="596,454,716,495" href="../elements/784a58ed-71fc-4ff7-8470-a48b55acf61e.html"  target="element">
				  		<area shape="rect" coords="596,394,716,431" href="../elements/b9a4124c-7e1d-4b94-9845-3309b4e7c8a8.html"  target="element">
				  		<area shape="rect" coords="596,226,716,281" href="../elements/8932a7c4-b6e0-4387-bd11-25ee11bb71d8.html"  target="element">
				  				<area shape="rect" coords="308,466,428,491" href="../elements/8217d1ac-6c57-4f26-9632-26b4e9313941.html"  target="element">
				  				<area shape="rect" coords="308,406,428,431" href="../elements/78903d71-c10e-469d-8df9-c98699ca928b.html"  target="element">
				  				<area shape="rect" coords="308,334,428,371" href="../elements/ca1238e1-62e2-4531-a664-2ebd7c54dfca.html"  target="element">
				  				<area shape="rect" coords="308,226,428,281" href="../elements/1d2fec0d-dcb3-41d0-b49d-91f2e0e0df23.html"  target="element">
				  				<area shape="rect" coords="308,94,428,155" href="../elements/9ff17545-a3e0-425a-9508-2a507cf3e90a.html"  target="element">

				  		<area shape="rect" coords="248,10,477,539" href="../elements/b31355d1-63a7-4360-8a40-004988af5dad.html"  target="element">
				  		<area shape="rect" coords="79,70,199,125" href="../elements/0e0303b9-bdf2-4837-a3d5-96cb47489194.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/0e0303b9-bdf2-4837-a3d5-96cb47489194.html" target="element"> &#1052;&#1077;&#1085;&#1077;&#1076;&#1078;&#1077;&#1088; &#1087;&#1086; &#1079;&#1072;&#1082;&#1091;&#1087;&#1082;&#1072;&#1084; </a> </td>
											    <td> <a href="../elements/0e0303b9-bdf2-4837-a3d5-96cb47489194.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b31355d1-63a7-4360-8a40-004988af5dad.html" target="element"> &#1055;&#1088;&#1077;&#1076;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1077;&#1084;&#1077;&#1083;&#1082;&#1086;&#1086;&#1087;&#1090;&#1086;&#1074;&#1086;&#1081; &#1080; &#1088;&#1086;&#1079;&#1085;&#1080;&#1095;&#1085;&#1086;&#1081; &#1090;&#1086;&#1088;&#1075;&#1086;&#1074;&#1083;&#1080; </a> </td>
											    <td> <a href="../elements/b31355d1-63a7-4360-8a40-004988af5dad.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/9ff17545-a3e0-425a-9508-2a507cf3e90a.html" target="element"> &#1054;&#1090;&#1076;&#1077;&#1083; &#1089;&#1085;&#1072;&#1073;&#1078;&#1077;&#1085;&#1080;&#1103; </a> </td>
													    <td> <a href="../elements/9ff17545-a3e0-425a-9508-2a507cf3e90a.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1d2fec0d-dcb3-41d0-b49d-91f2e0e0df23.html" target="element"> &#1054;&#1090;&#1076;&#1077;&#1083; &#1089;&#1073;&#1099;&#1090;&#1072; </a> </td>
													    <td> <a href="../elements/1d2fec0d-dcb3-41d0-b49d-91f2e0e0df23.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ca1238e1-62e2-4531-a664-2ebd7c54dfca.html" target="element"> &#1054;&#1090;&#1076;&#1077;&#1083; &#1084;&#1072;&#1088;&#1082;&#1077;&#1090;&#1080;&#1085;&#1075;&#1072; </a> </td>
													    <td> <a href="../elements/ca1238e1-62e2-4531-a664-2ebd7c54dfca.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/78903d71-c10e-469d-8df9-c98699ca928b.html" target="element"> &#1041;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088;&#1080;&#1103; </a> </td>
													    <td> <a href="../elements/78903d71-c10e-469d-8df9-c98699ca928b.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8217d1ac-6c57-4f26-9632-26b4e9313941.html" target="element"> &#1057;&#1082;&#1083;&#1072;&#1076; </a> </td>
													    <td> <a href="../elements/8217d1ac-6c57-4f26-9632-26b4e9313941.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/8932a7c4-b6e0-4387-bd11-25ee11bb71d8.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1080; </a> </td>
											    <td> <a href="../elements/8932a7c4-b6e0-4387-bd11-25ee11bb71d8.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b9a4124c-7e1d-4b94-9845-3309b4e7c8a8.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1080; </a> </td>
											    <td> <a href="../elements/b9a4124c-7e1d-4b94-9845-3309b4e7c8a8.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/784a58ed-71fc-4ff7-8470-a48b55acf61e.html" target="element"> &#1057;&#1082;&#1083;&#1072;&#1076;&#1089;&#1082;&#1086;&#1077; &#1087;&#1086;&#1084;&#1077;&#1097;&#1077;&#1085;&#1080;&#1077; </a> </td>
											    <td> <a href="../elements/784a58ed-71fc-4ff7-8470-a48b55acf61e.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/632e5c7e-295d-4191-a786-cdf9805c5d17.html" target="element"> &#1057;&#1087;&#1077;&#1094;&#1080;&#1072;&#1083;&#1080;&#1089;&#1090; &#1087;&#1086; &#1088;&#1072;&#1073;&#1086;&#1090;&#1077; &#1089; &#1087;&#1086;&#1089;&#1090;&#1072;&#1074;&#1097;&#1080;&#1082;&#1072;&#1084;&#1080; </a> </td>
											    <td> <a href="../elements/632e5c7e-295d-4191-a786-cdf9805c5d17.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c456d9cb-ac14-406f-a56f-6991e353975f.html" target="element"> &#1052;&#1077;&#1085;&#1077;&#1076;&#1078;&#1077;&#1088; &#1087;&#1086; &#1087;&#1088;&#1086;&#1076;&#1072;&#1078;&#1072;&#1084; </a> </td>
											    <td> <a href="../elements/c456d9cb-ac14-406f-a56f-6991e353975f.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6a69cb90-b3dc-420d-984d-2679e62cc1a7.html" target="element"> &#1040;&#1085;&#1072;&#1083;&#1080;&#1090;&#1080;&#1082; </a> </td>
											    <td> <a href="../elements/6a69cb90-b3dc-420d-984d-2679e62cc1a7.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c6cc0d49-bab7-44ec-b64d-f90d2aa0a4a0.html" target="element"> &#1041;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088; </a> </td>
											    <td> <a href="../elements/c6cc0d49-bab7-44ec-b64d-f90d2aa0a4a0.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7b05a5b3-dbba-4b8f-b2a5-fd88a5c5c658.html" target="element"> &#1050;&#1083;&#1072;&#1076;&#1086;&#1074;&#1097;&#1080;&#1082; </a> </td>
											    <td> <a href="../elements/7b05a5b3-dbba-4b8f-b2a5-fd88a5c5c658.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/db301ae2-1980-4d1b-9feb-65e59b783be7.html" target="element"> &#1057;&#1087;&#1077;&#1094;&#1080;&#1072;&#1083;&#1080;&#1089;&#1090; &#1087;&#1086; &#1088;&#1072;&#1073;&#1086;&#1090;&#1077; &#1089; &#1082;&#1083;&#1080;&#1077;&#1085;&#1090;&#1072;&#1084;&#1080; </a> </td>
											    <td> <a href="../elements/db301ae2-1980-4d1b-9feb-65e59b783be7.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/28b9dcb1-2226-4ce3-a0e6-39c563bf9c19.html" target="element">  </a> </td>
																		<td> <a href="../elements/28b9dcb1-2226-4ce3-a0e6-39c563bf9c19.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b31355d1-63a7-4360-8a40-004988af5dad.html" target="element"> &#1055;&#1088;&#1077;&#1076;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1077;&#1084;&#1077;&#1083;&#1082;&#1086;&#1086;&#1087;&#1090;&#1086;&#1074;&#1086;&#1081; &#1080; &#1088;&#1086;&#1079;&#1085;&#1080;&#1095;&#1085;&#1086;&#1081; &#1090;&#1086;&#1088;&#1075;&#1086;&#1074;&#1083;&#1080; </a> </td>
																		<td> <a href="../elements/9ff17545-a3e0-425a-9508-2a507cf3e90a.html" target="element"> &#1054;&#1090;&#1076;&#1077;&#1083; &#1089;&#1085;&#1072;&#1073;&#1078;&#1077;&#1085;&#1080;&#1103; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7b7379fd-6f5f-4546-a4aa-e0cd3c9cfec2.html" target="element">  </a> </td>
																		<td> <a href="../elements/7b7379fd-6f5f-4546-a4aa-e0cd3c9cfec2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b31355d1-63a7-4360-8a40-004988af5dad.html" target="element"> &#1055;&#1088;&#1077;&#1076;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1077;&#1084;&#1077;&#1083;&#1082;&#1086;&#1086;&#1087;&#1090;&#1086;&#1074;&#1086;&#1081; &#1080; &#1088;&#1086;&#1079;&#1085;&#1080;&#1095;&#1085;&#1086;&#1081; &#1090;&#1086;&#1088;&#1075;&#1086;&#1074;&#1083;&#1080; </a> </td>
																		<td> <a href="../elements/1d2fec0d-dcb3-41d0-b49d-91f2e0e0df23.html" target="element"> &#1054;&#1090;&#1076;&#1077;&#1083; &#1089;&#1073;&#1099;&#1090;&#1072; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ea0747d1-f946-4ba0-857b-b0e561813a28.html" target="element">  </a> </td>
																		<td> <a href="../elements/ea0747d1-f946-4ba0-857b-b0e561813a28.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b31355d1-63a7-4360-8a40-004988af5dad.html" target="element"> &#1055;&#1088;&#1077;&#1076;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1077;&#1084;&#1077;&#1083;&#1082;&#1086;&#1086;&#1087;&#1090;&#1086;&#1074;&#1086;&#1081; &#1080; &#1088;&#1086;&#1079;&#1085;&#1080;&#1095;&#1085;&#1086;&#1081; &#1090;&#1086;&#1088;&#1075;&#1086;&#1074;&#1083;&#1080; </a> </td>
																		<td> <a href="../elements/ca1238e1-62e2-4531-a664-2ebd7c54dfca.html" target="element"> &#1054;&#1090;&#1076;&#1077;&#1083; &#1084;&#1072;&#1088;&#1082;&#1077;&#1090;&#1080;&#1085;&#1075;&#1072; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/33905350-315c-4c16-8c36-31562ea12fec.html" target="element">  </a> </td>
																		<td> <a href="../elements/33905350-315c-4c16-8c36-31562ea12fec.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b31355d1-63a7-4360-8a40-004988af5dad.html" target="element"> &#1055;&#1088;&#1077;&#1076;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1077;&#1084;&#1077;&#1083;&#1082;&#1086;&#1086;&#1087;&#1090;&#1086;&#1074;&#1086;&#1081; &#1080; &#1088;&#1086;&#1079;&#1085;&#1080;&#1095;&#1085;&#1086;&#1081; &#1090;&#1086;&#1088;&#1075;&#1086;&#1074;&#1083;&#1080; </a> </td>
																		<td> <a href="../elements/78903d71-c10e-469d-8df9-c98699ca928b.html" target="element"> &#1041;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088;&#1080;&#1103; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4c894a90-d31c-42e6-8405-96bc10678df2.html" target="element">  </a> </td>
																		<td> <a href="../elements/4c894a90-d31c-42e6-8405-96bc10678df2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b31355d1-63a7-4360-8a40-004988af5dad.html" target="element"> &#1055;&#1088;&#1077;&#1076;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1077;&#1084;&#1077;&#1083;&#1082;&#1086;&#1086;&#1087;&#1090;&#1086;&#1074;&#1086;&#1081; &#1080; &#1088;&#1086;&#1079;&#1085;&#1080;&#1095;&#1085;&#1086;&#1081; &#1090;&#1086;&#1088;&#1075;&#1086;&#1074;&#1083;&#1080; </a> </td>
																		<td> <a href="../elements/8217d1ac-6c57-4f26-9632-26b4e9313941.html" target="element"> &#1057;&#1082;&#1083;&#1072;&#1076; </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/90b61784-16bf-4dac-be28-be60cf1c858e.html" target="element">  </a> </td>
																				<td> <a href="../elements/90b61784-16bf-4dac-be28-be60cf1c858e.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/9ff17545-a3e0-425a-9508-2a507cf3e90a.html" target="element"> &#1054;&#1090;&#1076;&#1077;&#1083; &#1089;&#1085;&#1072;&#1073;&#1078;&#1077;&#1085;&#1080;&#1103; </a> </td>
																				<td> <a href="../elements/0e0303b9-bdf2-4837-a3d5-96cb47489194.html" target="element"> &#1052;&#1077;&#1085;&#1077;&#1076;&#1078;&#1077;&#1088; &#1087;&#1086; &#1079;&#1072;&#1082;&#1091;&#1087;&#1082;&#1072;&#1084; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/355699bd-5a08-4e60-b10d-14bdfba4bf32.html" target="element">  </a> </td>
																				<td> <a href="../elements/355699bd-5a08-4e60-b10d-14bdfba4bf32.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/9ff17545-a3e0-425a-9508-2a507cf3e90a.html" target="element"> &#1054;&#1090;&#1076;&#1077;&#1083; &#1089;&#1085;&#1072;&#1073;&#1078;&#1077;&#1085;&#1080;&#1103; </a> </td>
																				<td> <a href="../elements/632e5c7e-295d-4191-a786-cdf9805c5d17.html" target="element"> &#1057;&#1087;&#1077;&#1094;&#1080;&#1072;&#1083;&#1080;&#1089;&#1090; &#1087;&#1086; &#1088;&#1072;&#1073;&#1086;&#1090;&#1077; &#1089; &#1087;&#1086;&#1089;&#1090;&#1072;&#1074;&#1097;&#1080;&#1082;&#1072;&#1084;&#1080; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c0269d98-5f49-4c5b-92e7-57fe39ec375d.html" target="element">  </a> </td>
																				<td> <a href="../elements/c0269d98-5f49-4c5b-92e7-57fe39ec375d.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/1d2fec0d-dcb3-41d0-b49d-91f2e0e0df23.html" target="element"> &#1054;&#1090;&#1076;&#1077;&#1083; &#1089;&#1073;&#1099;&#1090;&#1072; </a> </td>
																				<td> <a href="../elements/c456d9cb-ac14-406f-a56f-6991e353975f.html" target="element"> &#1052;&#1077;&#1085;&#1077;&#1076;&#1078;&#1077;&#1088; &#1087;&#1086; &#1087;&#1088;&#1086;&#1076;&#1072;&#1078;&#1072;&#1084; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f7723726-2748-4a87-a465-33e6bf870e37.html" target="element">  </a> </td>
																				<td> <a href="../elements/f7723726-2748-4a87-a465-33e6bf870e37.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/1d2fec0d-dcb3-41d0-b49d-91f2e0e0df23.html" target="element"> &#1054;&#1090;&#1076;&#1077;&#1083; &#1089;&#1073;&#1099;&#1090;&#1072; </a> </td>
																				<td> <a href="../elements/db301ae2-1980-4d1b-9feb-65e59b783be7.html" target="element"> &#1057;&#1087;&#1077;&#1094;&#1080;&#1072;&#1083;&#1080;&#1089;&#1090; &#1087;&#1086; &#1088;&#1072;&#1073;&#1086;&#1090;&#1077; &#1089; &#1082;&#1083;&#1080;&#1077;&#1085;&#1090;&#1072;&#1084;&#1080; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/8260ab31-a1bd-44af-a597-677a6cfd617c.html" target="element">  </a> </td>
																				<td> <a href="../elements/8260ab31-a1bd-44af-a597-677a6cfd617c.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/ca1238e1-62e2-4531-a664-2ebd7c54dfca.html" target="element"> &#1054;&#1090;&#1076;&#1077;&#1083; &#1084;&#1072;&#1088;&#1082;&#1077;&#1090;&#1080;&#1085;&#1075;&#1072; </a> </td>
																				<td> <a href="../elements/6a69cb90-b3dc-420d-984d-2679e62cc1a7.html" target="element"> &#1040;&#1085;&#1072;&#1083;&#1080;&#1090;&#1080;&#1082; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/24fb343b-7649-4de8-9cf8-25e5739cd995.html" target="element">  </a> </td>
																				<td> <a href="../elements/24fb343b-7649-4de8-9cf8-25e5739cd995.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/78903d71-c10e-469d-8df9-c98699ca928b.html" target="element"> &#1041;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088;&#1080;&#1103; </a> </td>
																				<td> <a href="../elements/c6cc0d49-bab7-44ec-b64d-f90d2aa0a4a0.html" target="element"> &#1041;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/eef19a5b-671c-404d-86ab-c12aa00ebd77.html" target="element">  </a> </td>
																				<td> <a href="../elements/eef19a5b-671c-404d-86ab-c12aa00ebd77.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/8217d1ac-6c57-4f26-9632-26b4e9313941.html" target="element"> &#1057;&#1082;&#1083;&#1072;&#1076; </a> </td>
																				<td> <a href="../elements/7b05a5b3-dbba-4b8f-b2a5-fd88a5c5c658.html" target="element"> &#1050;&#1083;&#1072;&#1076;&#1086;&#1074;&#1097;&#1080;&#1082; </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/51324ca2-847d-44b9-a2c4-cf984a9d2397.html" target="element">  </a> </td>
																		<td> <a href="../elements/51324ca2-847d-44b9-a2c4-cf984a9d2397.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/8932a7c4-b6e0-4387-bd11-25ee11bb71d8.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1080; </a> </td>
																		<td> <a href="../elements/9ff17545-a3e0-425a-9508-2a507cf3e90a.html" target="element"> &#1054;&#1090;&#1076;&#1077;&#1083; &#1089;&#1085;&#1072;&#1073;&#1078;&#1077;&#1085;&#1080;&#1103; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ef4d814e-fbe7-472c-a343-109c3386417f.html" target="element">  </a> </td>
																		<td> <a href="../elements/ef4d814e-fbe7-472c-a343-109c3386417f.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/8932a7c4-b6e0-4387-bd11-25ee11bb71d8.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1080; </a> </td>
																		<td> <a href="../elements/ca1238e1-62e2-4531-a664-2ebd7c54dfca.html" target="element"> &#1054;&#1090;&#1076;&#1077;&#1083; &#1084;&#1072;&#1088;&#1082;&#1077;&#1090;&#1080;&#1085;&#1075;&#1072; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/efd6683a-55ae-4866-840c-90e8da78ab7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/efd6683a-55ae-4866-840c-90e8da78ab7b.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/8932a7c4-b6e0-4387-bd11-25ee11bb71d8.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1080; </a> </td>
																		<td> <a href="../elements/1d2fec0d-dcb3-41d0-b49d-91f2e0e0df23.html" target="element"> &#1054;&#1090;&#1076;&#1077;&#1083; &#1089;&#1073;&#1099;&#1090;&#1072; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/21d22e8f-acfa-46d5-a798-086abffe7400.html" target="element">  </a> </td>
																		<td> <a href="../elements/21d22e8f-acfa-46d5-a798-086abffe7400.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/b9a4124c-7e1d-4b94-9845-3309b4e7c8a8.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1080; </a> </td>
																		<td> <a href="../elements/78903d71-c10e-469d-8df9-c98699ca928b.html" target="element"> &#1041;&#1091;&#1093;&#1075;&#1072;&#1083;&#1090;&#1077;&#1088;&#1080;&#1103; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/782c4399-4bcb-4c11-9159-8f711d4a0139.html" target="element">  </a> </td>
																		<td> <a href="../elements/782c4399-4bcb-4c11-9159-8f711d4a0139.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/784a58ed-71fc-4ff7-8470-a48b55acf61e.html" target="element"> &#1057;&#1082;&#1083;&#1072;&#1076;&#1089;&#1082;&#1086;&#1077; &#1087;&#1086;&#1084;&#1077;&#1097;&#1077;&#1085;&#1080;&#1077; </a> </td>
																		<td> <a href="../elements/8217d1ac-6c57-4f26-9632-26b4e9313941.html" target="element"> &#1057;&#1082;&#1083;&#1072;&#1076; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>