<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Инфраструктура</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#1048;&#1085;&#1092;&#1088;&#1072;&#1089;&#1090;&#1088;&#1091;&#1082;&#1090;&#1091;&#1088;&#1072;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-technology"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_technology" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/62412d0c-6ab2-4cdd-a83c-7f6f21896d1a.png" alt="Инфраструктура" usemap="#62412d0c-6ab2-4cdd-a83c-7f6f21896d1amap"/>
			   <map name="62412d0c-6ab2-4cdd-a83c-7f6f21896d1amap">
				  						<area shape="rect" coords="1019,670,1139,725" href="../elements/87758c65-ff36-41ef-8f05-ff94b5d1c9f6.html"  target="element">
				  						<area shape="rect" coords="707,670,827,725" href="../elements/bc0c483f-9a4f-4111-952a-3873c62bf1bb.html"  target="element">

				  				<area shape="rect" coords="647,562,1200,779" href="../elements/6c28bce5-bb50-482f-a179-e3bf218a99bd.html"  target="element">

				  		<area shape="rect" coords="635,538,1212,791" href="../elements/b3654931-61b7-4ca7-a2a2-d88b9ac49a4b.html"  target="element">
				  				<area shape="rect" coords="658,250,863,323" href="../elements/9f5e410f-5c2b-4aee-91f8-3718d590c680.html"  target="element">
				  						<area shape="rect" coords="1006,94,1126,149" href="../elements/87758c65-ff36-41ef-8f05-ff94b5d1c9f6.html"  target="element">
				  						<area shape="rect" coords="706,94,826,149" href="../elements/bc0c483f-9a4f-4111-952a-3873c62bf1bb.html"  target="element">

				  				<area shape="rect" coords="682,34,1187,179" href="../elements/526b2fd0-8f24-4c48-bb06-e53972f35381.html"  target="element">
				  						<area shape="rect" coords="319,106,439,161" href="../elements/f0ca4489-7a92-4bd0-a2d2-58c61635663a.html"  target="element">
				  						<area shape="rect" coords="81,106,226,161" href="../elements/a81bbf89-9405-4c1d-bb59-fbcb348eb2f9.html"  target="element">
				  						<area shape="rect" coords="94,190,214,245" href="../elements/c2918bd3-4cd9-46a1-b3dc-a635f3ec2978.html"  target="element">
				  						<area shape="rect" coords="319,190,439,245" href="../elements/8be5c377-deca-4860-ad9e-1b919db705ff.html"  target="element">
				  						<area shape="rect" coords="94,274,214,329" href="../elements/997cb9cd-5e16-429d-a5fb-c1256cf436b6.html"  target="element">
				  						<area shape="rect" coords="319,274,439,329" href="../elements/27fdd1e4-81be-46ac-8900-3d92db07731d.html"  target="element">
				  						<area shape="rect" coords="94,371,214,426" href="../elements/bb678c0f-7834-4d3d-83fd-393affdb2910.html"  target="element">
				  						<area shape="rect" coords="319,371,439,426" href="../elements/51841eea-9b60-49be-aa6e-4aad02ec9ad8.html"  target="element">

				  				<area shape="rect" coords="34,34,503,491" href="../elements/05d10c5c-422f-485c-a4c1-f991ff6fa600.html"  target="element">

				  		<area shape="rect" coords="10,10,1212,518" href="../elements/82c6a5a3-4ab4-408c-b0b4-b7e21136f857.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/82c6a5a3-4ab4-408c-b0b4-b7e21136f857.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1080; </a> </td>
											    <td> <a href="../elements/82c6a5a3-4ab4-408c-b0b4-b7e21136f857.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/05d10c5c-422f-485c-a4c1-f991ff6fa600.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1087;&#1088;&#1080;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1081; </a> </td>
													    <td> <a href="../elements/05d10c5c-422f-485c-a4c1-f991ff6fa600.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/51841eea-9b60-49be-aa6e-4aad02ec9ad8.html" target="element"> &#1054;&#1057; Windows Server </a> </td>
															    <td> <a href="../elements/51841eea-9b60-49be-aa6e-4aad02ec9ad8.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/bb678c0f-7834-4d3d-83fd-393affdb2910.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1073;&#1072;&#1079; &#1076;&#1072;&#1085;&#1085;&#1099;&#1093; </a> </td>
															    <td> <a href="../elements/bb678c0f-7834-4d3d-83fd-393affdb2910.html" target="element" class="i18n-elementtype-Device"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/27fdd1e4-81be-46ac-8900-3d92db07731d.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1076;&#1086;&#1082;&#1091;&#1084;&#1077;&#1085;&#1090;&#1086;&#1086;&#1073;&#1086;&#1088;&#1086;&#1090;&#1072; </a> </td>
															    <td> <a href="../elements/27fdd1e4-81be-46ac-8900-3d92db07731d.html" target="element" class="i18n-elementtype-Device"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/997cb9cd-5e16-429d-a5fb-c1256cf436b6.html" target="element"> &#1044;&#1086;&#1089;&#1090;&#1091;&#1087; &#1082; &#1076;&#1072;&#1085;&#1085;&#1099;&#1084; </a> </td>
															    <td> <a href="../elements/997cb9cd-5e16-429d-a5fb-c1256cf436b6.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/8be5c377-deca-4860-ad9e-1b919db705ff.html" target="element"> &#1044;&#1086;&#1089;&#1090;&#1091;&#1087; &#1082; &#1076;&#1086;&#1082;&#1091;&#1084;&#1077;&#1085;&#1090;&#1072;&#1084; </a> </td>
															    <td> <a href="../elements/8be5c377-deca-4860-ad9e-1b919db705ff.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/c2918bd3-4cd9-46a1-b3dc-a635f3ec2978.html" target="element"> &#1057;&#1059;&#1041;&#1044; Microsoft SQL Server </a> </td>
															    <td> <a href="../elements/c2918bd3-4cd9-46a1-b3dc-a635f3ec2978.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/a81bbf89-9405-4c1d-bb59-fbcb348eb2f9.html" target="element"> SQL Server ReportingServices </a> </td>
															    <td> <a href="../elements/a81bbf89-9405-4c1d-bb59-fbcb348eb2f9.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/f0ca4489-7a92-4bd0-a2d2-58c61635663a.html" target="element"> Microsoft Office Sharepoint Server </a> </td>
															    <td> <a href="../elements/f0ca4489-7a92-4bd0-a2d2-58c61635663a.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/526b2fd0-8f24-4c48-bb06-e53972f35381.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1072;&#1103; &#1089;&#1090;&#1072;&#1085;&#1094;&#1080;&#1103; &#1089;&#1086;&#1090;&#1088;&#1091;&#1076;&#1085;&#1080;&#1082;&#1072; </a> </td>
													    <td> <a href="../elements/526b2fd0-8f24-4c48-bb06-e53972f35381.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/bc0c483f-9a4f-4111-952a-3873c62bf1bb.html" target="element"> &#1055;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;&#1100;&#1085;&#1099;&#1081; &#1082;&#1086;&#1084;&#1087;&#1100;&#1102;&#1090;&#1077;&#1088; </a> </td>
															    <td> <a href="../elements/bc0c483f-9a4f-4111-952a-3873c62bf1bb.html" target="element" class="i18n-elementtype-Device"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/87758c65-ff36-41ef-8f05-ff94b5d1c9f6.html" target="element"> &#1054;&#1057; Windows </a> </td>
															    <td> <a href="../elements/87758c65-ff36-41ef-8f05-ff94b5d1c9f6.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/9f5e410f-5c2b-4aee-91f8-3718d590c680.html" target="element"> &#1052;&#1072;&#1088;&#1096;&#1088;&#1091;&#1090;&#1080;&#1079;&#1072;&#1090;&#1086;&#1088; </a> </td>
													    <td> <a href="../elements/9f5e410f-5c2b-4aee-91f8-3718d590c680.html" target="element" class="i18n-elementtype-Device"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/b3654931-61b7-4ca7-a2a2-d88b9ac49a4b.html" target="element"> &#1057;&#1082;&#1083;&#1072;&#1076;&#1089;&#1082;&#1086;&#1077; &#1087;&#1086;&#1084;&#1077;&#1097;&#1077;&#1085;&#1080;&#1077; </a> </td>
											    <td> <a href="../elements/b3654931-61b7-4ca7-a2a2-d88b9ac49a4b.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6c28bce5-bb50-482f-a179-e3bf218a99bd.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1072;&#1103; &#1089;&#1090;&#1072;&#1085;&#1094;&#1080;&#1103; &#1082;&#1083;&#1072;&#1076;&#1086;&#1074;&#1097;&#1080;&#1082;&#1072; </a> </td>
													    <td> <a href="../elements/6c28bce5-bb50-482f-a179-e3bf218a99bd.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/bc0c483f-9a4f-4111-952a-3873c62bf1bb.html" target="element"> &#1055;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;&#1100;&#1085;&#1099;&#1081; &#1082;&#1086;&#1084;&#1087;&#1100;&#1102;&#1090;&#1077;&#1088; </a> </td>
															    <td> <a href="../elements/bc0c483f-9a4f-4111-952a-3873c62bf1bb.html" target="element" class="i18n-elementtype-Device"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/87758c65-ff36-41ef-8f05-ff94b5d1c9f6.html" target="element"> &#1054;&#1057; Windows </a> </td>
															    <td> <a href="../elements/87758c65-ff36-41ef-8f05-ff94b5d1c9f6.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d86bf535-720b-48d9-b015-d6a6186a78aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/d86bf535-720b-48d9-b015-d6a6186a78aa.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/82c6a5a3-4ab4-408c-b0b4-b7e21136f857.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1080; </a> </td>
																		<td> <a href="../elements/05d10c5c-422f-485c-a4c1-f991ff6fa600.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1087;&#1088;&#1080;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1081; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/96b01821-fea3-4159-b4da-9b6cacb1a72b.html" target="element">  </a> </td>
																		<td> <a href="../elements/96b01821-fea3-4159-b4da-9b6cacb1a72b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/82c6a5a3-4ab4-408c-b0b4-b7e21136f857.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1080; </a> </td>
																		<td> <a href="../elements/526b2fd0-8f24-4c48-bb06-e53972f35381.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1072;&#1103; &#1089;&#1090;&#1072;&#1085;&#1094;&#1080;&#1103; &#1089;&#1086;&#1090;&#1088;&#1091;&#1076;&#1085;&#1080;&#1082;&#1072; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b4dea23a-69e5-4103-84f5-31ebb65e7b86.html" target="element">  </a> </td>
																		<td> <a href="../elements/b4dea23a-69e5-4103-84f5-31ebb65e7b86.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/82c6a5a3-4ab4-408c-b0b4-b7e21136f857.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1080; </a> </td>
																		<td> <a href="../elements/9f5e410f-5c2b-4aee-91f8-3718d590c680.html" target="element"> &#1052;&#1072;&#1088;&#1096;&#1088;&#1091;&#1090;&#1080;&#1079;&#1072;&#1090;&#1086;&#1088; </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/25eebcef-e805-4238-975c-1f72feedd4db.html" target="element">  </a> </td>
																				<td> <a href="../elements/25eebcef-e805-4238-975c-1f72feedd4db.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/05d10c5c-422f-485c-a4c1-f991ff6fa600.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1087;&#1088;&#1080;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1081; </a> </td>
																				<td> <a href="../elements/51841eea-9b60-49be-aa6e-4aad02ec9ad8.html" target="element"> &#1054;&#1057; Windows Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b083d998-6605-4f41-a5b1-cc1d9758908a.html" target="element">  </a> </td>
																				<td> <a href="../elements/b083d998-6605-4f41-a5b1-cc1d9758908a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/05d10c5c-422f-485c-a4c1-f991ff6fa600.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1087;&#1088;&#1080;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1081; </a> </td>
																				<td> <a href="../elements/bb678c0f-7834-4d3d-83fd-393affdb2910.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1073;&#1072;&#1079; &#1076;&#1072;&#1085;&#1085;&#1099;&#1093; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2b919e4f-9f77-4b2e-8e62-b22950b194a6.html" target="element">  </a> </td>
																				<td> <a href="../elements/2b919e4f-9f77-4b2e-8e62-b22950b194a6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/05d10c5c-422f-485c-a4c1-f991ff6fa600.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1087;&#1088;&#1080;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1081; </a> </td>
																				<td> <a href="../elements/27fdd1e4-81be-46ac-8900-3d92db07731d.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1076;&#1086;&#1082;&#1091;&#1084;&#1077;&#1085;&#1090;&#1086;&#1086;&#1073;&#1086;&#1088;&#1086;&#1090;&#1072; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4eb2cb9b-b85e-487a-95e3-f4fb7aaf4206.html" target="element">  </a> </td>
																				<td> <a href="../elements/4eb2cb9b-b85e-487a-95e3-f4fb7aaf4206.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/05d10c5c-422f-485c-a4c1-f991ff6fa600.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1087;&#1088;&#1080;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1081; </a> </td>
																				<td> <a href="../elements/997cb9cd-5e16-429d-a5fb-c1256cf436b6.html" target="element"> &#1044;&#1086;&#1089;&#1090;&#1091;&#1087; &#1082; &#1076;&#1072;&#1085;&#1085;&#1099;&#1084; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/afef3c05-e3cd-48c6-bca6-afb444257ced.html" target="element">  </a> </td>
																				<td> <a href="../elements/afef3c05-e3cd-48c6-bca6-afb444257ced.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/05d10c5c-422f-485c-a4c1-f991ff6fa600.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1087;&#1088;&#1080;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1081; </a> </td>
																				<td> <a href="../elements/8be5c377-deca-4860-ad9e-1b919db705ff.html" target="element"> &#1044;&#1086;&#1089;&#1090;&#1091;&#1087; &#1082; &#1076;&#1086;&#1082;&#1091;&#1084;&#1077;&#1085;&#1090;&#1072;&#1084; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6fe8095e-2d84-45c2-811e-61f836e3ef1a.html" target="element">  </a> </td>
																				<td> <a href="../elements/6fe8095e-2d84-45c2-811e-61f836e3ef1a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/05d10c5c-422f-485c-a4c1-f991ff6fa600.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1087;&#1088;&#1080;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1081; </a> </td>
																				<td> <a href="../elements/c2918bd3-4cd9-46a1-b3dc-a635f3ec2978.html" target="element"> &#1057;&#1059;&#1041;&#1044; Microsoft SQL Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/af2d6d95-a037-4bd6-8bc3-ec6bb193209d.html" target="element">  </a> </td>
																				<td> <a href="../elements/af2d6d95-a037-4bd6-8bc3-ec6bb193209d.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/05d10c5c-422f-485c-a4c1-f991ff6fa600.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1087;&#1088;&#1080;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1081; </a> </td>
																				<td> <a href="../elements/a81bbf89-9405-4c1d-bb59-fbcb348eb2f9.html" target="element"> SQL Server ReportingServices </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d7096406-48fd-4558-bd63-7f371356b5b9.html" target="element">  </a> </td>
																				<td> <a href="../elements/d7096406-48fd-4558-bd63-7f371356b5b9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/05d10c5c-422f-485c-a4c1-f991ff6fa600.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1087;&#1088;&#1080;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1081; </a> </td>
																				<td> <a href="../elements/f0ca4489-7a92-4bd0-a2d2-58c61635663a.html" target="element"> Microsoft Office Sharepoint Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e1fa15c7-d12c-449d-9ea3-142e2bf4d7cc.html" target="element"> LAN </a> </td>
																				<td> <a href="../elements/e1fa15c7-d12c-449d-9ea3-142e2bf4d7cc.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/05d10c5c-422f-485c-a4c1-f991ff6fa600.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1087;&#1088;&#1080;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1081; </a> </td>
																				<td> <a href="../elements/9f5e410f-5c2b-4aee-91f8-3718d590c680.html" target="element"> &#1052;&#1072;&#1088;&#1096;&#1088;&#1091;&#1090;&#1080;&#1079;&#1072;&#1090;&#1086;&#1088; </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/6d2bf601-af6a-4ac4-8b49-11069f9a403b.html" target="element">  </a> </td>
																						<td> <a href="../elements/6d2bf601-af6a-4ac4-8b49-11069f9a403b.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																						<td> <a href="../elements/bb678c0f-7834-4d3d-83fd-393affdb2910.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1073;&#1072;&#1079; &#1076;&#1072;&#1085;&#1085;&#1099;&#1093; </a> </td>
																						<td> <a href="../elements/51841eea-9b60-49be-aa6e-4aad02ec9ad8.html" target="element"> &#1054;&#1057; Windows Server </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/b07eb02e-aa8e-4ef1-93ed-a9f58a390563.html" target="element">  </a> </td>
																						<td> <a href="../elements/b07eb02e-aa8e-4ef1-93ed-a9f58a390563.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/bb678c0f-7834-4d3d-83fd-393affdb2910.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1073;&#1072;&#1079; &#1076;&#1072;&#1085;&#1085;&#1099;&#1093; </a> </td>
																						<td> <a href="../elements/997cb9cd-5e16-429d-a5fb-c1256cf436b6.html" target="element"> &#1044;&#1086;&#1089;&#1090;&#1091;&#1087; &#1082; &#1076;&#1072;&#1085;&#1085;&#1099;&#1084; </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/be258cca-9fa5-49ac-8734-0d609f6b95ea.html" target="element">  </a> </td>
																						<td> <a href="../elements/be258cca-9fa5-49ac-8734-0d609f6b95ea.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																						<td> <a href="../elements/27fdd1e4-81be-46ac-8900-3d92db07731d.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1076;&#1086;&#1082;&#1091;&#1084;&#1077;&#1085;&#1090;&#1086;&#1086;&#1073;&#1086;&#1088;&#1086;&#1090;&#1072; </a> </td>
																						<td> <a href="../elements/51841eea-9b60-49be-aa6e-4aad02ec9ad8.html" target="element"> &#1054;&#1057; Windows Server </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/3d7c9d7c-a861-4b38-a3bf-de610fa8d727.html" target="element">  </a> </td>
																						<td> <a href="../elements/3d7c9d7c-a861-4b38-a3bf-de610fa8d727.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/27fdd1e4-81be-46ac-8900-3d92db07731d.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1076;&#1086;&#1082;&#1091;&#1084;&#1077;&#1085;&#1090;&#1086;&#1086;&#1073;&#1086;&#1088;&#1086;&#1090;&#1072; </a> </td>
																						<td> <a href="../elements/8be5c377-deca-4860-ad9e-1b919db705ff.html" target="element"> &#1044;&#1086;&#1089;&#1090;&#1091;&#1087; &#1082; &#1076;&#1086;&#1082;&#1091;&#1084;&#1077;&#1085;&#1090;&#1072;&#1084; </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/f6b0a297-b219-4a84-86ef-fca5f9edd0d5.html" target="element">  </a> </td>
																						<td> <a href="../elements/f6b0a297-b219-4a84-86ef-fca5f9edd0d5.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/997cb9cd-5e16-429d-a5fb-c1256cf436b6.html" target="element"> &#1044;&#1086;&#1089;&#1090;&#1091;&#1087; &#1082; &#1076;&#1072;&#1085;&#1085;&#1099;&#1084; </a> </td>
																						<td> <a href="../elements/c2918bd3-4cd9-46a1-b3dc-a635f3ec2978.html" target="element"> &#1057;&#1059;&#1041;&#1044; Microsoft SQL Server </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/5fdec992-b3c6-4c8c-8f4c-f90d2a47a159.html" target="element">  </a> </td>
																						<td> <a href="../elements/5fdec992-b3c6-4c8c-8f4c-f90d2a47a159.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/8be5c377-deca-4860-ad9e-1b919db705ff.html" target="element"> &#1044;&#1086;&#1089;&#1090;&#1091;&#1087; &#1082; &#1076;&#1086;&#1082;&#1091;&#1084;&#1077;&#1085;&#1090;&#1072;&#1084; </a> </td>
																						<td> <a href="../elements/f0ca4489-7a92-4bd0-a2d2-58c61635663a.html" target="element"> Microsoft Office Sharepoint Server </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/de404855-8b9a-4bc8-8e11-5bd44b857493.html" target="element">  </a> </td>
																						<td> <a href="../elements/de404855-8b9a-4bc8-8e11-5bd44b857493.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/c2918bd3-4cd9-46a1-b3dc-a635f3ec2978.html" target="element"> &#1057;&#1059;&#1041;&#1044; Microsoft SQL Server </a> </td>
																						<td> <a href="../elements/a81bbf89-9405-4c1d-bb59-fbcb348eb2f9.html" target="element"> SQL Server ReportingServices </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/e3777ec1-ca1a-42cf-991b-96b8746bcb87.html" target="element">  </a> </td>
																						<td> <a href="../elements/e3777ec1-ca1a-42cf-991b-96b8746bcb87.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/a81bbf89-9405-4c1d-bb59-fbcb348eb2f9.html" target="element"> SQL Server ReportingServices </a> </td>
																						<td> <a href="../elements/f0ca4489-7a92-4bd0-a2d2-58c61635663a.html" target="element"> Microsoft Office Sharepoint Server </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/eb5e5eab-17f2-4000-8ea0-ee3642eb8582.html" target="element">  </a> </td>
																				<td> <a href="../elements/eb5e5eab-17f2-4000-8ea0-ee3642eb8582.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/526b2fd0-8f24-4c48-bb06-e53972f35381.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1072;&#1103; &#1089;&#1090;&#1072;&#1085;&#1094;&#1080;&#1103; &#1089;&#1086;&#1090;&#1088;&#1091;&#1076;&#1085;&#1080;&#1082;&#1072; </a> </td>
																				<td> <a href="../elements/bc0c483f-9a4f-4111-952a-3873c62bf1bb.html" target="element"> &#1055;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;&#1100;&#1085;&#1099;&#1081; &#1082;&#1086;&#1084;&#1087;&#1100;&#1102;&#1090;&#1077;&#1088; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3e7304ed-f283-4ebd-951a-69dba60ca8bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/3e7304ed-f283-4ebd-951a-69dba60ca8bd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/526b2fd0-8f24-4c48-bb06-e53972f35381.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1072;&#1103; &#1089;&#1090;&#1072;&#1085;&#1094;&#1080;&#1103; &#1089;&#1086;&#1090;&#1088;&#1091;&#1076;&#1085;&#1080;&#1082;&#1072; </a> </td>
																				<td> <a href="../elements/87758c65-ff36-41ef-8f05-ff94b5d1c9f6.html" target="element"> &#1054;&#1057; Windows </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/005ac706-5893-417a-90ef-21d1119b20cf.html" target="element">  </a> </td>
																						<td> <a href="../elements/005ac706-5893-417a-90ef-21d1119b20cf.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																						<td> <a href="../elements/bc0c483f-9a4f-4111-952a-3873c62bf1bb.html" target="element"> &#1055;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;&#1100;&#1085;&#1099;&#1081; &#1082;&#1086;&#1084;&#1087;&#1100;&#1102;&#1090;&#1077;&#1088; </a> </td>
																						<td> <a href="../elements/87758c65-ff36-41ef-8f05-ff94b5d1c9f6.html" target="element"> &#1054;&#1057; Windows </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/018572ba-8d04-4d9d-98e7-91ea9074eb35.html" target="element"> LAN </a> </td>
																						<td> <a href="../elements/018572ba-8d04-4d9d-98e7-91ea9074eb35.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/bc0c483f-9a4f-4111-952a-3873c62bf1bb.html" target="element"> &#1055;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;&#1100;&#1085;&#1099;&#1081; &#1082;&#1086;&#1084;&#1087;&#1100;&#1102;&#1090;&#1077;&#1088; </a> </td>
																						<td> <a href="../elements/9f5e410f-5c2b-4aee-91f8-3718d590c680.html" target="element"> &#1052;&#1072;&#1088;&#1096;&#1088;&#1091;&#1090;&#1080;&#1079;&#1072;&#1090;&#1086;&#1088; </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/6d3b2741-723d-4d20-ae0c-872ad0e0e8ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/6d3b2741-723d-4d20-ae0c-872ad0e0e8ea.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b3654931-61b7-4ca7-a2a2-d88b9ac49a4b.html" target="element"> &#1057;&#1082;&#1083;&#1072;&#1076;&#1089;&#1082;&#1086;&#1077; &#1087;&#1086;&#1084;&#1077;&#1097;&#1077;&#1085;&#1080;&#1077; </a> </td>
																		<td> <a href="../elements/6c28bce5-bb50-482f-a179-e3bf218a99bd.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1072;&#1103; &#1089;&#1090;&#1072;&#1085;&#1094;&#1080;&#1103; &#1082;&#1083;&#1072;&#1076;&#1086;&#1074;&#1097;&#1080;&#1082;&#1072; </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/91cf6ea7-7bae-4716-9477-7a8de170d0de.html" target="element">  </a> </td>
																				<td> <a href="../elements/91cf6ea7-7bae-4716-9477-7a8de170d0de.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/6c28bce5-bb50-482f-a179-e3bf218a99bd.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1072;&#1103; &#1089;&#1090;&#1072;&#1085;&#1094;&#1080;&#1103; &#1082;&#1083;&#1072;&#1076;&#1086;&#1074;&#1097;&#1080;&#1082;&#1072; </a> </td>
																				<td> <a href="../elements/bc0c483f-9a4f-4111-952a-3873c62bf1bb.html" target="element"> &#1055;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;&#1100;&#1085;&#1099;&#1081; &#1082;&#1086;&#1084;&#1087;&#1100;&#1102;&#1090;&#1077;&#1088; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/dd259285-fc1e-481d-9b46-41b3f0c7acb4.html" target="element">  </a> </td>
																				<td> <a href="../elements/dd259285-fc1e-481d-9b46-41b3f0c7acb4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/6c28bce5-bb50-482f-a179-e3bf218a99bd.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1072;&#1103; &#1089;&#1090;&#1072;&#1085;&#1094;&#1080;&#1103; &#1082;&#1083;&#1072;&#1076;&#1086;&#1074;&#1097;&#1080;&#1082;&#1072; </a> </td>
																				<td> <a href="../elements/87758c65-ff36-41ef-8f05-ff94b5d1c9f6.html" target="element"> &#1054;&#1057; Windows </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/005ac706-5893-417a-90ef-21d1119b20cf.html" target="element">  </a> </td>
																						<td> <a href="../elements/005ac706-5893-417a-90ef-21d1119b20cf.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																						<td> <a href="../elements/bc0c483f-9a4f-4111-952a-3873c62bf1bb.html" target="element"> &#1055;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;&#1100;&#1085;&#1099;&#1081; &#1082;&#1086;&#1084;&#1087;&#1100;&#1102;&#1090;&#1077;&#1088; </a> </td>
																						<td> <a href="../elements/87758c65-ff36-41ef-8f05-ff94b5d1c9f6.html" target="element"> &#1054;&#1057; Windows </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/018572ba-8d04-4d9d-98e7-91ea9074eb35.html" target="element"> LAN </a> </td>
																						<td> <a href="../elements/018572ba-8d04-4d9d-98e7-91ea9074eb35.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/bc0c483f-9a4f-4111-952a-3873c62bf1bb.html" target="element"> &#1055;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;&#1100;&#1085;&#1099;&#1081; &#1082;&#1086;&#1084;&#1087;&#1100;&#1102;&#1090;&#1077;&#1088; </a> </td>
																						<td> <a href="../elements/9f5e410f-5c2b-4aee-91f8-3718d590c680.html" target="element"> &#1052;&#1072;&#1088;&#1096;&#1088;&#1091;&#1090;&#1080;&#1079;&#1072;&#1090;&#1086;&#1088; </a> </td>
																					</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>